.mini-cart {
	box-sizing: border-box;
	padding: 16px;
	max-width: 480px;
	text-align: left;
	font-size: 1rem;
}

.mini-cart__header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	text-align: left;
}

.mini-cart__title {
	font-weight: 600;
}

.mini-cart__site-title {
	color: var( --color-neutral-50 );
	font-size: 0.875rem;
}

.order-review-line-items {
	margin: 0 0 12px;
}

.mini-cart__footer {
	margin-top: 12px;
}

.mini-cart__total {
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 4px;
}
