

.simpler-form.simpler-form.simpler-form.simpler-form.simpler-form.simpler-form {
    padding: 0 16px;

    .signup-form__social {
        padding: 0;
    }

    .button.button.button {
        border: 1px solid #ddd;
        border-radius: 2px;
        font-weight: 600;
        text-align: center;
        position: relative;
        line-height: 32px;
        padding-bottom: 6px;
        background-color: #fff;
        color: #333;
        width: 100%;
        height: auto;

        svg {
            border: none;
            position: absolute;
            left: 0;
            top: 2px;
        }
        .gridicon {
            top: 16px;
            left: 12px;
            fill: #777;
        }
    }

    .logged-out-form {
        border: none;
        background-color: transparent;
        box-shadow: none;
        padding: 0;

        .button.button.is-primary {
            background-color: var( --color-accent );
            border-color: var( --color-accent );
            color: var( --color-text-inverted );
        }
    }

    .signup-form__social-buttons-tos,
    .signup-form__terms-of-service-link {
        font-size: $font-body-extra-small;
        color: var( --studio-gray-40 );
        a {
            color: var( --studio-gray-40 );
            text-decoration: underline;
        }
    }

    .signup-form__social-buttons-tos {
        margin: 16px 0;
    }

    .signup-form__recaptcha-tos {
        display: none;
    }
}